<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Sign up or sign in</title>
  <link rel="stylesheet" href="../style.css" />
</head>

<body>
  <div class="container">
    <div class="white-box">
      <img class="banner-logo" src="../images/bannerlogo.png" alt="bannerlogo" />
      <h1>Sign up</h1>
      <p>Enter phone number or email address</p>
      <form action='/auth/login-verify' method="post">
        <input type="text" id="signInName" name="username" title="Please enter a valid Phone Number or Email Address"
          readonly placeholder="Email Address" value="<%= username %>"
          aria-label="Phone Number or Email Address" />
        <br /> <br />
        <input class="verifyInput" type="number" name="verification_code" autocomplete="off" required
          placeholder="Verification code" style="display: inline;" aria-hidden="false">
        <p style="color: #9c1e15"><%= message %></p>
        <button type="submit">
          Verify code
        </button>
        <button class="sendButton" id="email_ver_but_resend" type="button" aria-label="Send new code"
          style="display: inline;" aria-hidden="false" onclick="resend()">Send new code</button>
      </form>

      <!--<p>Already have an account? <a href="/auth/login">Log in</a></p>-->
    </div>
  </div>
  <script>
    function resend() {
      const username = document.querySelector('#signInName').value;
      const formDataJsonString = JSON.stringify({ username: username });
      fetch('/auth/resend', {
        body: formDataJsonString,
        method: "post",
        headers: {
          "Content-Type": "application/json",
          "Accept": "application/json"
        },
      })
        .then((response) => response.json())
        // .then((data) => console.log(data));
    }
  </script>
</body>

</html>