<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="shortcut icon" type="image/x-icon" href="../favicon.ico">
  <title>Sign up or sign in</title>
  <link rel="stylesheet" href="../style.css" />
</head>

<body>
  <div class="container">
    <div class="white-box">
      <img class="banner-logo" src="../images/bannerlogo.png" alt="bannerlogo" />
      <h2>Sign up or Login</h2>
      <p>Enter phone number or email address</p>
      <form action='/auth/login' method="post">
        <input type="text" id="signInName" name="username" title="Please enter a valid Phone Number or Email Address"
          autofocus="" placeholder="Email Address" aria-label="Phone Number or Email Address" required />

        <button id="cancel" aria-label="Cancel" type="button" onclick="cancle()">
          Cancel
        </button>

        <button id="next" type="submit">
          Continue
        </button>

      </form>

      <div class="divider">
        <span class="divider-text"> Or continue with </span>
      </div>

      <div class="social-box">
        <img class="social-icon" src="../images/google-icon.svg" alt="google" />
        Google
      </div>
      <div class="social-box">
        <img class="social-icon" src="../images/facebook-icon.svg" alt="google" />
        Facebook
      </div>

      <!-- <p>Already have an account? <a href="#">Log in</a></p> -->
    </div>
  </div>

  <script>

    function getCookie(cname) {
      let name = cname + "=";
      let decodedCookie = decodeURIComponent(document.cookie);
      let ca = decodedCookie.split(';');
      for (let i = 0; i < ca.length; i++) {
        let c = ca[i];
        while (c.charAt(0) == ' ') {
          c = c.substring(1);
        }
        if (c.indexOf(name) == 0) {
          return c.substring(name.length, c.length);
        }
      }
      return "";
    }

    function cancle() {
      try {
        let redirect_uri = getCookie("redirect_uri");
        window.location.replace(redirect_uri);
      } catch (__) { }
    }
  </script>
</body>

</html>